/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .header__top-bar {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .header__top-bar__logo {
  height: 36px;
}
.header .header__top-bar__nav a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 19px;
  padding: 7px 16px 9px;
  color: #000000;
  border-radius: 3px;
}
.header .header__top-bar__nav a.header__top-bar__nav__btn {
  background: #617bc9;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
}
.header .header__top-bar__nav a.header__top-bar__nav__btn:hover {
  background: #afbde4;
}
.header .header__cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/tool-spread.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .header .header__cta {
    height: 340px;
  }
}
.header .header__cta .header__cta__text-content {
  color: white;
  padding: 0 5rem;
  font-size: 3.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 500px) {
  .header .header__cta .header__cta__text-content {
    font-weight: 300;
    padding: 0 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.5px;
  }
}
.header .header__cta .header__cta__button {
  font-size: 2rem;
  background: white;
  color: #000000;
  text-decoration: none;
  margin-top: 8rem;
  border: 2px solid white;
  padding: 1.5rem 2rem;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .header .header__cta .header__cta__button {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 4rem;
  }
}
footer {
  background: #f2f2f2;
  padding: 2rem;
}
footer p {
  font-size: 1.6rem;
  text-align: center;
  padding: 3rem 0;
}
footer a {
  color: #c4a852;
}
.learn-more {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 6rem 0;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .learn-more {
    margin: 3rem 0;
  }
}
.learn-more__text-content {
  max-width: 375px;
}
@media (max-width: 800px) {
  .learn-more__text-content {
    max-width: 600px;
  }
}
.learn-more__text-content h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 1.6rem;
  color: #7f7f7f;
  font-weight: 600;
}
@media (max-width: 500px) {
  .learn-more__text-content h2 {
    font-size: 2rem;
  }
}
.learn-more__text-content p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
}
@media (max-width: 500px) {
  .learn-more__text-content p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media (max-width: 800px) {
  .learn-more img {
    margin-top: 4rem;
  }
}
.learn-more.bottom-content {
  margin-top: 6rem;
}
@media (max-width: 500px) {
  .learn-more.bottom-content {
    margin-top: 3rem;
  }
}
@media (max-width: 800px) {
  .learn-more.bottom-content .learn-more__text-content {
    order: -1;
  }
}
.about-us {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .about-us header {
    margin-bottom: 3rem;
  }
}
.about-us__lead-text {
  margin-top: 3rem;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.3;
}
@media (max-width: 500px) {
  .about-us__lead-text {
    font-size: 2.2rem;
    margin-bottom: 0;
  }
}
.team-profiles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 30%;
  margin-top: 5rem;
}
.profile__image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
}
.profile__name {
  display: flex;
  font-size: 2.6rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .profile__name {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .profile__name {
    font-size: 2.5rem;
  }
}
.github-img-link {
  height: 24px;
  margin-top: 1.5rem;
}
.profile__role {
  font-size: 2rem;
  color: #c4a852;
  margin-top: 1.5rem;
  font-weight: 600;
}
