footer {
  background: @lightgray;
  padding: 5rem 0;

  p {
    font-size: 1.6rem;
    text-align: center;

    @media @mobile {
      font-size: 1.5rem;
    }
  }

  p a {
    color: @secondary-color;
    text-decoration: undelrine;
    &:visited {
      text-decoration: underline;
      color: @secondary-color;
    }
  }
}

.utf-heart {
  color: @primary-color;
}
