.header {
  .header__top-bar__inner {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__top-bar__logo {
    height: 36px;
  }

  .header__top-bar__nav {
    a {
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 500;
      line-height: 19px;
      padding: 7px 16px 9px;
      color: @black;
      border-radius: 3px;
    }

    a.header__top-bar__nav__btn {
      background: @primary-color;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: bold;

      &:hover {
        background: @primary-hover;
      }
    }
  }

  .header__cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(../img/tool-spread.jpg);
    background-position: center;
    background-size: cover;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media @mobile {
      height: 400px;
    }

    @media @tablet {
      height: 480px;
    }

    .header__cta__text-content {
      color: white;
      padding: 0 3rem;
      font-size: 4.4rem;
      line-height: 5rem;
      letter-spacing: 1px;
      text-align: center;
      font-weight: 600;
      @media @tablet {
        font-size: 3.7rem;
      }
      @media @mobile {
        font-weight: 600;
        padding: 0 2rem;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.5px;
      }
    }

    .header__cta__button {
      font-size: 2rem;
      text-decoration: none;
      margin-top: 7rem;
      background: @primary-alt;
      padding: 1rem 4rem;
      border-radius: 8px;
      font-weight: bold;
      color: white;
      border: 2px solid @primary-alt;
      transition: all 0.2s ease;

      &:hover {
        background: white;
        border: 2px solid white;
        color: @primary-alt;
        border: 2px solid @primary-alt;
      }

      @media @mobile {
        font-size: 1.6rem;
        padding: 1rem 6rem;
        border-radius: 8px;
        margin-top: 5rem;
      }

      &.scroll-btn {
        margin-top: 3rem;
        cursor: pointer;
        background: white;
        color: @primary-alt;
        text-shadow: none;

        &:hover {
          background: @primary-alt;
          color: white;
          border: 2px solid @primary-alt;
        }

        @media @mobile {
          margin-top: 2rem;
        }
      }
    }
  }
}

.header__top-bar.dark {
  background: @primary-color;

  a {
    color: white;
  }

  a.header__top-bar__nav__btn {
    color: @primary-color;
    background: white;
  }
}
