@mobile: ~'(max-width: 500px)';
// @tablet: ~'(max-width: 500px)';
// @desktop: ~'(max-width: 500px)';

// Color assignments
@primary-color: #617bc9;
@primary-hover: #afbde4;
@secondary-color: #c4a852;
@font-color: @black;
// @main-bg: @white;
// @navigation-border: @silver;
// @footer-bg: @sandy-beach;

// Colors
@black: black;
